version: '3.8'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - elastic

  api:
    build: .
    container_name: fastapi-app
    ports:
      - "8000:8000"
    environment:
      - ELASTICSEARCH_HOST=http://elasticsearch:9200
      - INDEX_NAME=${INDEX_NAME}
      - HOST_URL=%{HOST_URL}
      - NGRAM_INDEX=${NGRAM_INDEX}
      - VECTOR_INDEX=${VECTOR_INDEX}
    depends_on:
      - elasticsearch
    networks:
      - elastic
    volumes:
      - ./data:/app/data

volumes:
  es_data:

networks:
  elastic:
    driver: bridge
