services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch1
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - elastic
    logging:
      driver: "none"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200/_cluster/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10

  api:
    build: .
    container_name: fastapi-app
    ports:
      - "8000:8000"
    environment:
      - ELASTICSEARCH_HOST=http://elasticsearch1:9200
      - INDEX_NAME=${INDEX_NAME}
      - HOST_URL=http://elasticsearch1:9200
      - NGRAM_INDEX=${NGRAM_INDEX}
      - VECTOR_INDEX=${VECTOR_INDEX}
    depends_on:
      elasticsearch:
        condition: service_healthy
    networks:
      - elastic
    volumes:
      - ./data:/app/data

volumes:
  es_data:

networks:
  elastic:
    driver: bridge